In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pydataset import data
import statistics
import seaborn as sns
import env

import acquire

# Attendance Data

### Load the attendance.csv file and calculate an attendnace percentage for each student. 

### One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [4]:
# You should end up with something like this:

# name
# Billy    0.5250
# Jane     0.6875
# John     0.9125
# Sally    0.7625
# Name: grade, dtype: float64

In [10]:
attendance = pd.read_csv('attendance.csv', index_col=0)
attendance.head()

,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
Sally,P,T,T,H,P,A,T,T
Jane,A,P,T,T,T,T,A,T
Billy,A,T,A,A,H,T,P,T
John,P,T,H,P,P,T,P,P

In [7]:
attendance.shape

(4, 8)

In [12]:
(1 + .9 + .5 + 1 + 1 + .9 + 1 + 1) / 8
#this would represent john's attendance

0.9125000000000001

### the goal here will be to get this into `name` `date` `attendance` format

In [20]:
attendance.index.rename('name', inplace=True)

In [21]:
attendance.sample()

,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
name,,,,,,,,
Sally,P,T,T,H,P,A,T,T

In [ ]:
attendance.pivot(index='name', columns=)